$white: #a9a9a9;
$black: #232323;
$pink: #f65261;
$grey: #555555;
$dark-grey: #424242;

.error-page {
  height: 800px;
  position: relative;
  margin-top: 10px;
  background-color: $black;

  .logo {
    position: relative;
    max-width: 150px;
    margin: 20px 40px;
  }

  .error-content {
    text-align: center;
    margin-top: 150px;

    .error {
      text-align: center;
      color: $white;
      font-size: 60px;
    }

    .home-link {
      text-transform: uppercase;
      color: #f65261;
      text-decoration: none;
      font-size: 20px;
      border-radius: 10px;
      border-style: solid;
      padding: 15px 22px;
    }
  }
}
