.body {
  position: relative;
  height: auto;
  margin-top: 10px;
  background-color: #232323;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.movie-card {
  margin: 0 50px 0 0;
  float: left;
  color: #A9A9A9;
}

.movie-card img {
  height: 400px;
}

.movie-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.info-first-row {
  display: flex;
  justify-content: space-between;
}

.movie-release-year {
    border-style: solid;
    border-radius: 5px;
    padding: 2px 8px;
    border-color: #555555;
    border-width: 2px;
}
