$white: #a9a9a9;
$black: #232323;
$pink: #f65261;
$grey: #555555;
$dark-grey: #424242;

.body {
  position: relative;
  height: auto;
  margin-top: 10px;
  background-color: $black;

  .submenu {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: $dark-grey;
    margin: 0 0 0 40px;

    .sort {
      margin: 20px 20px 10px 0;
      text-transform: uppercase;
      display: flex;

      .MuiFormControl-root {
        flex-direction: row;
      }
    }

    .sortForm {
      margin: 0 0 0 10px;

      .MuiSelect-select {
        color: $white;
      }

      .MuiSelect-icon {
        color: $pink;
      }

      .MuiInput-underline:after {
        content: none;
      }

      .MuiInput-underline:before {
        content: none;
      }
    }
  }

  .genresFilter {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 10px 0;
    padding-inline-start: 0px;
    list-style-type: none;

    .item {
      margin-right: 10px;
      background-color: $black;
      border: none;
      color: $white;
      text-transform: uppercase;

      &.active,
      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  .movies-counter {
    margin: 20px 0 20px 40px;
  }

  .noMovies {
    margin-top: 200px;
    font-size: 50px;
    text-align: center;
    height: 500px;
  }
}
