$white: #a9a9a9;
$black: #232323;
$pink: #F65261;
$grey: #555555;

.movie-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: start;
}

.movie-card {
  position: relative;
  margin: 0 50px 30px 0;

  img {
    height: 360px;
    width: 240px;
  }

  .card-menu-icon {
    display: none;
    position: absolute;
    top: 4px;
    right: 10px;
    padding: 6px;
    background: $black;
    color: $white;

    &:hover {
      background: $black;
      color: $white;
    }
  }

  &:hover .card-menu-icon {
    display: block;
  }

  .movie-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .info-first-row {
    display: flex;
    justify-content: space-between;
  }

  .movie-release-year {
    border-style: solid;
    border-radius: 6px;
    padding: 4px 8px;
    border-color: $grey;
    border-width: 2px;
    font-size: 13px;
  }

  .genre {
    font-size: 13px;
  }
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper {
  background: $black;
  color: white;
}

.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.card-menu-item:hover {
  background-color: $pink;

}
