$white: #a9a9a9;
$black: #232323;
$pink: #F65261;
$grey: #555555;

.main-layout {
    display: flex;
    flex-direction: column;
    background-color: $grey;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
}